@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased text-slate-800 bg-slate-50 dark:bg-slate-900 dark:text-slate-100 selection:bg-primary/20 selection:text-primary transition-colors duration-300;
  }
}